<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>카테고리별 기술 목록보기</h1>
    <hr />
    <select name="" id="">
        {{#categoryList}}
            <option value="">{{name}}</option>
        {{/categoryList}}
    </select>

    <select name="" id="">
        {{#techList}}
            <option value="">{{name}}</option>
        {{/techList}}
    </select>
</body>

</html>